@model RemoveMemberFromChannelViewModel

@{
    ViewData["Title"] = "Remove Member";
}

<h1>Remove Member from @Model.ChannelName</h1>

<h3>Are you sure you want to remove this member?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">User ID</dt>
        <dd class="col-sm-10">@Model.UserIdToRemove</dd>
        <dt class="col-sm-2">Channel</dt>
        <dd class="col-sm-10">@Model.ChannelName</dd>
    </dl>

    <form asp-action="RemoveMember">
        <input type="hidden" asp-for="ChannelId" />
        <input type="hidden" asp-for="UserIdToRemove" />
        <input type="submit" value="Remove" class="btn btn-danger" /> |
        <a asp-action="Members" asp-route-id="@Model.ChannelId">Back to Members</a>
    </form>
</div>