/*=============================
    home CSS start
===============================*/
.story-section {
    border-bottom: 1px solid rgba(var(--content-color), 0.15);

    .story-box {
        padding: 10px 0 30px;
        z-index: 0;
        .profile-story-box {
            position: relative;
            width: 65px;
            height: 65px;
            margin: 0 auto;
            .person-img {
                width: 60px;
                height: 60px;
                padding: 2px;
                backdrop-filter: blur(4px);
                border: 1px solid rgba(var(--theme-color), 1);
                border-radius: 100%;
                object-fit: cover;
            }

            .add-story {
                position: absolute;
                bottom: 5px;
                right: 5px;
                width: 20px;
                height: 20px;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgba(var(--white), 1);
                background-color: rgba(var(--theme-color), 1);
                border: 2px solid rgba(var(--white), 1);
                border-radius: 100%;
                [dir="rtl"] & {
                    left: 5px;
                    right: unset;
                }
            }

            &.read {
                .person-img {
                    border: 1px solid rgba(var(--content-color), 1);
                }
            }

            h5 {
                text-align: center;
                margin-top: 5px;
                color: rgba(var(--dark-text), 1);
            }
        }
    }
}
.new-part {
    .new-chat-icon {
        width: 50px;
        height: 50px;
        position: fixed;
        right: 20px;
        bottom: 100px;
        padding: 8px;
        background-color: rgba(var(--theme-color), 1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        z-index: 1;
        [dir="rtl"] & {
            left: 20px;
            right: unset;
        }
        @media (max-width: 600px) {
            width: calc(40px + (50 - 40) * ((100vw - 320px) / (768 - 320)));
            height: calc(40px + (50 - 40) * ((100vw - 320px) / (768 - 320)));
        }
        .icon {
            --Iconsax-Color: rgba(var(--white), 1);
            --Iconsax-Size: 20px;
            filter: brightness(0) invert(1);
        }

        &.arrow-icon {
            right: 20px;
            bottom: 25px;
            [dir="rtl"] & {
                left: 20px;
                right: unset;
            }
        }
    }
}

.chat-section {
    .chat-list {
        margin-top: 10px;
        li {
            width: 100%;
            color: rgba(var(--theme-color), 1);
            border-bottom: 1px solid rgba(var(--content-color), 0.15);
            padding-block: 20px;
            @media (max-width: 600px) {
                padding-block: calc(15px + (20 - 15) * ((100vw - 320px) / (768 - 320))) 15px;
            }
            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                border-bottom: none;
            }
            .chat-list-box {
                display: flex;
                align-items: center;
                gap: 10px;
                .chat-list-image {
                    width: 50px;
                    height: 50px;
                    &.online {
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            width: 10px;
                            height: 10px;
                            top: 2px;
                            left: 2px;
                            background-color: rgba(var(--success-color), 1);
                            border: 2px solid rgba(var(--white), 1);
                            border-radius: 100%;
                            [dir="rtl"] & {
                                left: unset;
                                right: 2px;
                            }
                        }
                    }
                }
                .img {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    border-radius: 100%;
                    object-fit: cover;
                    &.with-story {
                        padding: 2px;
                        backdrop-filter: blur(4px);
                        outline: 1px solid rgba(var(--theme-color), 1);
                    }
                }
                .chat-details {
                    width: calc(100% - 50px - 10px);
                    .name {
                        font-weight: 600;
                        color: rgba(var(--dark-text), 1);
                    }
                    h6 {
                        font-weight: 500;
                        color: rgba(var(--content-color), 1);
                    }
                    .content {
                        margin-top: 4px;
                        p {
                            position: relative;
                            font-weight: 500;
                            color: rgba(var(--content-color), 1);
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;

                            .typing {
                                position: relative;

                                span {
                                    content: "";
                                    position: absolute;
                                    animation: blink 1.5 infinite;
                                    animation-fill-mode: both;
                                    height: 5px;
                                    width: 5px;
                                    background-color: rgba(var(--success-color), 1);
                                    left: 45px;
                                    bottom: 0;
                                    border-radius: 100%;
                                    [dir="rtl"] & {
                                        left: unset;
                                        right: 45px;
                                    }

                                    &:nth-child(2) {
                                        animation-delay: 0.2s;
                                        margin-left: 5px * 1.5;
                                    }

                                    &:nth-child(3) {
                                        animation-delay: 0.4s;
                                        margin-left: 5px * 3;
                                    }
                                }
                            }

                            @keyframes blink {
                                0% {
                                    opacity: 0.1;
                                }
                                20% {
                                    opacity: 1;
                                }
                                100% {
                                    opacity: 0.1;
                                }
                            }
                        }
                        .count {
                            color: rgba(var(--white), 1);
                            background-color: rgba(var(--success-color), 1);
                            width: 18px;
                            height: 18px;
                            border-radius: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}

.story-slider {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 9;
    display: none;
    max-width: 600px;
    &.show {
        display: block;
    }
    .slider {
        .slider-items {
            position: relative;
            grid-area: 1/1;
            overflow: hidden;
            .story-img {
                position: absolute;
                width: 100%;
                height: 100vh;
                object-fit: cover;
                top: 0;
                opacity: 0;
                pointer-events: none;

                &.active {
                    position: relative;
                    opacity: 1;
                    pointer-events: initial;
                }
            }
        }
        .slider-nav {
            grid-area: 1/1;
            z-index: 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto 1fr;
            .slider-thumb {
                display: flex;
                grid-column: 1/3;
                padding: 0 15px;
                .slider-prev,
                .slider-prev {
                    -webkit-appearance: none;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    opacity: 0;
                }
            }
        }
    }
}

.qrcode-section {
    display: flex;
    align-items: center;

    .qrcode-box {
        position: relative;
        padding: 20px;
        margin-top: 150px;
        text-align: center;
        background-color: rgba(var(--white), 1);
        border: 1px solid rgba(var(--content-color), 0.15);
        border-radius: 15px;
        box-shadow: 0px 2px 15px 0px rgba(78, 160, 247, 0.08);
        @media (max-width: 600px) {
            padding-block: calc(20px + (150 - 20) * ((100vw - 320px) / (768 - 320))) 15px;
        }
        .profile-pic {
            position: relative;
            width: 80px;
            height: 80px;
            margin: -60px auto 0;
            display: flex;
            align-items: center;
            justify-content: center;
            &::after {
                content: "";
                width: 100px;
                height: 100px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background-color: rgba(var(--white), 1);
                z-index: 0;
                border-radius: 100%;
            }
            .profile-icon {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                z-index: 1;
            }
        }
        .qrcode-img {
            padding-top: 20px;
            .qrcode {
                border-radius: 10px;
            }
        }
        .qr-content {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.5;
            margin-top: 20px;
            text-align: center;
            color: rgba(var(--dark-text), 1);
        }
    }
}
