/*=====================
    onboarding CSS start
==========================*/
.onboarding-section {
    height: 100%;
    background-color: rgba(252, 252, 252, 1);
    overflow-y: auto;

    .onboarding-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: calc(100% - 25px);
        width: 100%;
        padding-bottom: 50px;

        .profile-image {
            text-align: center;
            margin-top: 50px;
        }

        .poster-section {
            text-align: center;

            .chain-section {
                position: relative;
                display: flex;
                justify-content: space-evenly;
                margin-top: -2px;
                z-index: -1;
            }

            .poster-content {
                position: relative;
                margin-top: -15px;
                padding: 30px 20px 40px 20px;
                background-color: rgba(var(--white), 1);
                border: 1px solid rgba(var(--content-color), 0.15);
                border-radius: 8px;
                box-shadow: 0px 2px 15px 0px rgba(var(--dark-text), 0.08);
                z-index: 2;

                @media (max-width: 600px) {
                    padding: 30px calc(15px + (20 - 15) * ((100vw - 320px) / (768 - 320))) 40px
                        calc(15px + (20 - 15) * ((100vw - 320px) / (768 - 320)));
                }

                h2 {
                    font-weight: 600;
                    color: rgba(var(--dark-text), 1);
                }

                h5 {
                    font-weight: 400;
                    line-height: 1.3;
                    color: rgba(var(--content-color), 1);
                }

                .line {
                    padding-block: 10px;
                }

                .onboarding-next {
                    position: relative;
                    display: flex;
                    align-items: center;
                    background-color: rgba(var(--theme-color), 1);
                    border-radius: 100%;

                    &.next-btn1 {
                        position: absolute;
                        left: 50%;
                        bottom: -25px;
                        transform: translateX(-50%);

                        &::after {
                            content: "";
                            position: absolute;
                            background-image: url(../images/onboarding/btn-shape1.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            width: 55px;
                            height: 55px;
                            z-index: -1;
                            right: -20px;
                            [dir="rtl"] & {
                                left: -20px;
                                right: unset;
                            }
                        }
                    }

                    &.next-btn2 {
                        position: absolute;
                        left: 50%;
                        bottom: -25px;
                        transform: translateX(-50%);

                        &::after {
                            content: "";
                            position: absolute;
                            background-image: url(../images/onboarding/btn-shape2.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                            width: 60px;
                            height: 60px;
                            right: -10px;
                            bottom: -7px;
                            z-index: -1;
                            [dir="rtl"] & {
                                left: -10px;
                                right: unset;
                            }
                        }
                    }

                    &.next-btn3 {
                        position: absolute;
                        left: 50%;
                        bottom: -25px;
                        transform: translateX(-50%);
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &::after {
                            content: "";
                            position: absolute;
                            border: 2px solid rgba(var(--theme-color), 1);
                            border-radius: 100%;
                            width: 60px;
                            height: 60px;
                        }
                    }

                    .arrow {
                        background-color: rgba(var(--theme-color), 1);
                        width: 50px;
                        height: 50px;
                        padding: 10px;
                        margin: 0 auto;
                        border-radius: 100%;
                    }
                }
            }
        }
    }
}
