/*=============================
     Profile CSS start
===============================*/
.profile-pic-section {
    display: flex;
    justify-content: center;
    .profile-pic {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 10px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(var(--content-color), 0.15);
        .output-img {
            width: 100px;
            height: 100px;
        }
        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            cursor: pointer;
            opacity: 0;
            [dir="rtl"] & {
                left: unset;
                right: 0;
            }
        }
        .img {
            position: relative;
            width: 100px;
            height: 100px;
            border: 2px solid rgba(var(--theme-color), 1);
            border-radius: 10px;
        }

        .edit-icon {
            position: absolute;
            padding: 5px;
            border-radius: 6px;
            background-color: rgba(var(--white), 1);
            --Iconsax-Color: rgba(var(--theme-color), 1);
            --Iconsax-Size: 18px;
            bottom: -5px;
            right: -5px;
            z-index: 2;
        }
        a {
            .upload-icon {
                --Iconsax-Color: rgba(var(--theme-color), 1);
                --Iconsax-Size: 19px;
                position: absolute;
                bottom: -10px;
                right: -10px;
                background-color: rgba(var(--white), 1);
                width: 25px;
                height: 25px;
                border-radius: 6px;
                padding: 3px;
                z-index: 1;
                [dir="rtl"] & {
                    left: -10px;
                    right: unset;
                }
            }
        }
    }
}
.language-list {
    li {
        padding: 15px 0;
        border-bottom: 1px solid rgba(var(--light-bg), 1);

        .form-check {
            text-align: left;
            margin: 0;
            border-bottom: 1px solid rgba(var(--light-bg), 1);
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }

            .form-check-label {
                color: rgba(var(--theme-color), 1);
                font-size: 14px;
                width: 100%;
            }

            .form-check-input {
                box-shadow: none;
                float: right;
                margin: 0;
                border: 1px solid rgba(var(--content-color), 0.5);

                [dir="rtl"] & {
                    float: left;
                }
            }

            .form-check-input:checked {
                background-color: rgba(18, 38, 54, 1);
                border-color: rgba(var(--theme-color), 1);
            }
        }
    }
}

.notification-setting {
    background: rgba(var(--white), 1);
    border: 1px solid rgba(var(--black), 0.05);
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 15px;

    li {
        display: block;
        border-bottom: 1px solid rgba(var(--light-bg), 1);

        &:last-child {
            border-bottom: none;
        }

        .notification {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 15px 0;

            input[type="checkbox"] {
                position: relative;
                width: 37px;
                height: 22px;
                appearance: none;
                background: rgba(var(--box-bg), 1);
                outline: none;
                border-radius: 50px;
                cursor: pointer;

                &:checked {
                    background: rgba(var(--theme-color), 0.1);

                    &::before {
                        transform: translateX(80%) translateY(-50%);
                        background: rgba(var(--theme-color), 1);
                    }
                }

                &:before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background: rgba(var(--content-color), 1);
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);
                    transition: 0.5s;
                    [dir="rtl"] & {
                        left: unset;
                        right: 5px;
                    }
                }
            }
        }
    }
}
