@{
    ViewData["Title"] = "ریست پسورد";
    Layout = "~/Views/Shared/_SkinDarkLoginLayout.cshtml";
}

<div class="main-layout card-bg-1 is-rtl">
    <div class="container d-flex flex-column">
        <div class="row no-gutters text-center align-items-center justify-content-center min-vh-100">
            <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                <h1 class="font-weight-bold">بازنویسی رمز عبور</h1>
                <p class="text-dark mb-3">ایمیل خود را برای بازنویسی رمز عبور وارد کنید. </p>
                <form class="mb-3">

                    <!-- LoginCode -->
                    <div class="form-group">
                        <label for="LoginCode" class="sr-only">آدرس ایمیل</label>
                        <input type="LoginCode" class="form-control form-control-md" id="LoginCode" placeholder="ایمیل خود را وارد کنید">
                    </div>

                    <!-- Submit -->
                    <button class="btn btn-lg btn-block btn-primary  text-uppercase font-weight-semibold" type="submit">ارسال لینک بازنشانی</button>
                </form>
                <p>حساب کاربری دارید؟ <a class="font-weight-semibold" href="signin.html">وارد شوید</a>.</p>
            </div>
        </div>
    </div>
</div>