@model AddMemberToGoupViewModel

@{
    ViewData["Title"] = "Add Member";
}

<h1>Add Member to Class Group</h1>

<form asp-action="AddMember">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ClassId" />
    <div class="form-group">
        <label asp-for="UserIdToAdd" class="control-label">User ID</label>
        <input asp-for="UserIdToAdd" class="form-control" />
        <span asp-validation-for="UserIdToAdd" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Members" asp-route-id="@Model.ClassId">Back to Members</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}