/*=====================
  Nav CSS start
==========================*/
.navbar-menu {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  max-width: 600px;
  background-color: rgba(var(--white), 1);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.07);
  border-radius: 10px 10px 0 0;
  padding: 15px 30px;

  @media (max-width: 600px) {
    padding: 15px calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
    width: 100%;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      position: relative;
      color: rgba(var(--content-color), 1);
      text-align: center;

      a {
        color: rgba(var(--content-color), 1);

        .icon {
          width: 20px;
          font-size: 26px;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          justify-content: center;

          .active {
            display: none;
          }

          .unactive {
            display: block;
          }
        }

        span {
          font-size: 14px;
          font-weight: 500;
          color: rgba(var(--content-color), 1);
        }
      }

      &.active {
        &::after {
          content: "";
          position: absolute;
          bottom: -20px;
          left: 50%;
          width: 60px;
          height: 8px;
          background: rgba(var(--theme-color), 1);
          transform: translate(-50%, -50%);
          border-radius: 10px 10px 0 0;
          @media (max-width: 600px) {
            width: calc(40px + (60 - 40) * ((100vw - 320px) / (768 - 320)));
          }
        }

        .icon {
          color: rgba(var(--theme-color), 1);
          display: flex;
          justify-content: center;

          .active {
            display: block;
          }

          .unactive {
            display: none;
          }
        }

        span {
          color: rgba(var(--theme-color), 1);
          font-weight: 500;
        }
      }
    }
  }
}
